.form-body {
   
    margin-top: 7rem;
}

.input-field {
    width: 30rem;
    text-align: center;
}

.submit {
    margin-top: 2rem;
}

#submit-btn {
    background-color: #bfbcbc6d;
}

#submit-btn:hover {
    background-color: green;
}

.thumbnail-container {
    margin-top: 5rem;
    text-align: center;
}

.thumbnail-image {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
