.form-body {
   
    margin-top: 7rem;
}

.input-field {
    width: 30rem;
    text-align: center;
}

.submit {
    margin-top: 2rem;
}

#submit-btn {
    background-color: #bfbcbc6d;
}

#submit-btn:hover {
    background-color: green;
}