.header-tag {
    margin-top: 7rem;
}

.message {
    margin-top: 3rem;
}

.fulfill-btn {
    background-color: green;
}
.fulfill-btn:hover {
    background-color: #333;
}


.order-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.order-card {
    width: 100%; /* You can adjust this to fit your layout */
    max-width: 1000px;/* Adjust the maximum width as needed */
    margin: 0 auto 20px;
}

.fulfill-btn {
    margin-top: 10px;
}

#rose-name {
    margin-left: 0;
}


.rose-name, .rose-quantity {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

