:root {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ea1919;
  text-decoration: inherit;
}

a:hover {
  color: #ff64a2;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff64a2;
  cursor: pointer;
  transition: border-color 0.25s;
}

.custom-btn-nav {
  background-color: #bfbcbc6d;
  border-color: #817f7f6d;
  margin-right: 1rem;
}

.custom-btn-nav:hover {
  background-color: #88011c;

}

.custom-btn {
  background-color: #bfbcbc6d;
  border-color: #817f7f6d;

}

.custom-btn:hover {
  background-color: #88011c;
}

button:hover {
  border-color: #646cff;
}

button:foc .navbar {
  width: 100%;
  background-color: black;
  color: white;
  padding: 3rem 3rem;
  /* Adjust padding as needed */

}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;

  /* Adjust font size as needed */
}


.navbar-brand:hover {
  color: #b60226;
  /* Optional: color on hover */
}