.navbar-brand {
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
  text-decoration: none; /* Remove any underline */
}

.navbar-brand:hover
{
  color: #700000; /* Red color on hover or focus */
}


.navbar-brand:visited {
  color:white; /* Red color */
}


.nav-item {
  color: white;
  font-size: 1rem;
  margin-right: 2rem;

}

.nav-item:hover {
  color: #700000;

}

.custom-btn-nav {
  background-color: #bfbcbc6d;
  border-color: #817f7f6d;
  margin-right: 1rem;
}

.custom-btn-nav:hover {
  background-color: #700000;

}

.solid-navbar {
  background-color: #242424;
  /* Change to the desired background color */
}

